/* **********************************************
Basic mechanics
Hide all paragraphs by default
Show them when they receive the class 'on'
Hide them when they receive the class 'off'
Feel free to adjust the defaults to your needs.
********************************************** */
#closed-captions {
	position: relative;
	/* background-color: greenyellow; */
	aspect-ratio: 240.5/100;
	width: 80vw;
	margin-top: -0.35vw;
	pointer-events: none;
}
#closed-captions p {
	font-weight: 600;
	font-size: 1.2em;
	opacity: 0;
	transition: .05s;
	position: absolute;
	text-align: center;
	padding: 0 .4em 0 .4em;
	font-family: "brenner sans";

	top: 86%;
	left: 50%;
	transform: translate(-50%, 50%);
}
#closed-captions .on {
	opacity: 1;
}
#closed-captions .off {
	transition: .2s;
	opacity: 0;
}
.voice1 {
	color: lightblue;
	background-color: rgba(0, 0, 128, 1);
}
.voice2 {
	color: MistyRose;
	background-color: rgba(178, 34, 34, 1);
}
.voice3 {
	color: LightGrey;
	background-color: rgba(112, 128, 144, 1);
}
.voice4 {
	color: purple;
}

/* **********************************************
The first paragraph, with extended timing for 
	all siblings. Basically what it does is that
	it shows the text after a delay, which 
	corresponds with the time that the word is
	spoken.
You probably want to change the styling.
********************************************** */

/* Officer K D 6 - 3 . 7. Let’s begin. Ready? */
.p1 {}

/* Yes, sir */
.p1 {}

/* Recite your baseline. */
.p2 {}

/* And blood-black nothingness began to spin */
.p3 {}

/* A system of cells interlinked within cells, */
.p4 {}

/* interlinked within cells, interlinked within one stem. */
.p5 {}

/* Fuck off, skin-job! */
.p6 {
	top: 24% !important;
	left: 48% !important;
}

/* And dreadfully distinct against the dark, a tall white fountain played... */
.p7 {}

/* Ce lls. */
.p8 {}

/* Cells. */
.p9 {}

/* Have you ever been in an institution? */
.p10 {}

/* Cells. */
.p11 {}

/* Cells. */
.p12 {}

/* Do they keep you in a cell? */
.p13 {}

/* Cells. */
.p14 {}

/* Cells. */
.p15 {}

/* When you're not performing your duties, do they keep you in a little box? */
.p16 {}

/* Cells. */
.p17 {}

/* Cells. */
.p18 {}

/* Interlinked. */
.p19 {}

/* Interlinked. */
.p20 {}

/* What's it like to hold the hand of someone you love? */
.p21 {}

/* Interlinked. */
.p22 {}

/* Interlinked. */
.p23 {}

/* Did they teach you how to feel, finger to finger? */
.p24 {
	top: 60% !important;
	left: 40% !important;
}

/* Interlinked. */
.p25 {
	top: 60% !important;
	left: 46% !important;
}

/* Interlinked. */
.p26 {}

/* Do you long for having your heart interlinked? */
.p27 {
	top: 60% !important;
	left: 45% !important;
}

/* Interlinked. */
.p28 {
	top: 60% !important;
	left: 45% !important;
}

/* Interlinked. */
.p29 {
	left: 64% !important;
}

/* Do you dream about being interlinked? */
.p30 {
	top: 58% !important;
	left: 44% !important;
}

/* Interlinked. */
.p31 {
	left: 72% !important;
}

/* What's it like to hold your child in your arms? */
.p32 {
	top: 56% !important;
	left: 44% !important;
}

/* Interlinked. */
.p33 {
	top: 56% !important;
	left: 44% !important;
}

/* Interlinked. */
.p34 {
	left: 80% !important;
}

/* Do you feel that there's a part of you that's missing? */
.p35 {
	top: 56% !important;
	left: 44% !important;
}

/* Interlinked. */
.p36 {
	top: 56% !important;
	left: 44% !important;
}

/* Interlinked. */
.p37 {
	left: 84% !important;
}

/* Within cells interlinked. */
.p38 {
	top: 56% !important;
	left: 50% !important;
}

/* Within cells interlinked. */
.p39 {
	left: 81% !important;
}

/* Why don't you say that three times: "within cells interlinked" */
.p40 {
	top: 56% !important;
	left: 50% !important;
}

/* Within cells interlinked. */
.p41 {}

/* Within cells interlinked. */
.p42 {}

/* Within cells interlinked. */
.p43 {}


/* **********************************************
Sounds.
	You can style the whole body, or you can 
	style anything within the body the moment
	a sound starts.
*********************************************  */

/* The moment the class .sound1 is added to the body, the background is yellow */
.sound1 {
	/* background: red; */
}

/* The moment the class .sound1 is added to the body, the movie makes a turn */
.sound1 #video-mask {
	box-shadow: 0em 0em 30em red;
}
/* @animation a */

.sound2{
	background-color: rgb(16, 16, 22);
}

.sound2 #video-mask {
	box-shadow: 0em 0em 30em lightblue;
}

.sound3 #video-mask {
	box-shadow: none;
}

.sound4 #video-mask {
	box-shadow: 0em 0em 30em blue;
}

.sound5 #video-mask {
	box-shadow: 0em 0em 30em darkgray;
}

.sound6 #video-mask {
	box-shadow: 0em 0em 30em blue;
}

.sound7 #video-mask {
	box-shadow: none;
}

/* .sound8 #video-mask {
	box-shadow: 0em 0em 30em blue;
} */

.sound8 {
	background-color: lightgray;
}

.sound9 #video-mask {
	box-shadow: none;
}

.sound10 #video-mask {
	box-shadow: 0em 0em 30em lightgray;
	animation: flickering .1s infinite;
}

.sound10 {
	animation:
	flickering .1s infinite,
	opacity 42s forwards;
}

.sound11 #video-mask {
	animation: none;
}

.sound11 {
	animation: none;
}

@keyframes flickering {
	50% {
		box-shadow: inset 0em 0em 30em lightgray;
	}
  }

@keyframes opacity {
	0% {
		background-color: lightgray;
	}
	100% {
		background-color: rgb(16, 16, 22);
	}
}

.sound10 #video-mask {
	box-shadow: none;
}

.sound11 #video-mask {
	box-shadow: 0em 0em 30em darkgray;
}

/* **********************************************
Basic layout.
	Place the video in the center of the page.
*********************************************  */

body {
	display: grid;
	height: 100vh;
	margin: 0;
	justify-content: center;
	background-color: rgb(16, 16, 22);
	transition: 2s;
}
#video-container {
	margin: auto;
	/* position: absolute; */
}
#video-mask {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	aspect-ratio: 240.5/100;
	display: grid;
	overflow: hidden;
	align-content: center;
	transition: 1s;
}

iframe {
	width: 80vw;
	height: 53.33333333vw;
	/* max-height: 100%; */
	margin-top: -0.35vw;
}
